.list {
  margin-left: 45px;
}

.item {
  margin-bottom: 10px;

  &:first-child {
    margin-top: 20px;
  }
}

.box {
  display: flex;
}

.name {
  margin-right: 5px;

  font-weight: 400;
  font-size: 17px;
}

.number {
  margin-right: 15px;

  font-weight: 400;
  font-size: 17px;
}

.btn {
  padding: 3px 8px 3px 8px;
  cursor: pointer;

  font-weight: 400;
  font-size: 11px;

  border-radius: 5px;
  border: 1px solid rgb(206, 205, 205);
  background-color: #fff;

  &:hover,
  &:focus {
    background-color: #99c2f8;
  }
}
