.box {
  margin-left: auto;
}

.text {
  margin-right: 10px;
  display: inline-block;
}

.btn {
  padding: 3px 8px 3px 8px;
  cursor: pointer;

  font-weight: 400;
  font-size: 11px;

  border-radius: 5px;
  border: 1px solid rgb(206, 205, 205);
  background-color: #fff;

  &:hover,
  &:focus {
    background-color: #99c2f8;
  }
}
